.logon-container{
    width: 100%; /*larugura*/
    max-width: 1120px; /*larugura máxima*/
    height: 100vh; /*altura inteira do corpo*/
    margin: 0 auto; /*seta a margem da página*/

    display: flex; /*ajuda para fazer as configurações de alinhamento setadas abaixo*/
    align-items: center; /*alinhamento vertical dos itens*/
    justify-content: space-between; /*alinhamento horizontal dos itens*/
}

.logon-container section.form{
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.logon-container section.form form{
    margin-top: 100px;  
}

.logon-container section.form form h1{
    font-size: 32px;
    margin-bottom: 32px;  
}

